h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.header {
  height: 120px;
  background-color: #008aff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 14%;
  padding-right: 14%;
  margin: 0; }

.nav {
  width: 100%; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .nav__item {
    cursor: pointer;
    margin: 0 3%;
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
    color: #fff;
    text-decoration: none;
    letter-spacing: 3px;
    text-transform: uppercase;
    -webkit-transition: text-shadow 0.3s;
    transition: text-shadow 0.3s; }
    .nav__item:hover {
      text-shadow: 2px 2px #005fb3; }
    .nav__item-active {
      position: relative;
      -webkit-transition: width 2s;
      transition: width 2s; }
      .nav__item-active::after {
        position: absolute;
        content: "";
        bottom: -8px;
        left: 0;
        height: 2px;
        width: 100%;
        border-radius: 4px;
        background: #ff9c8e; }
    .nav__item:focus {
      outline: none;
      text-shadow: 2px 2px #005fb3; }
    .nav__item:active {
      position: relative; }
      .nav__item:active::after {
        position: absolute;
        content: "";
        bottom: -8px;
        left: 0;
        height: 2px;
        width: 100%;
        border-radius: 4px;
        background: #ff9c8e; }
  .nav .nav__item:first-child {
    margin-left: 6%; }
  .nav .nav__item:last-child {
    margin-left: auto;
    margin-right: 0; }
  .nav__link {
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
    color: #fff;
    text-decoration: none;
    letter-spacing: 3px;
    text-transform: uppercase;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
    .nav__link:hover {
      color: #ff9c8e; }
    .nav__link:focus {
      outline: none;
      text-shadow: 2px 2px #005fb3; }

.info-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #008aff;
  height: 680px;
  padding-left: 14%;
  border-bottom-left-radius: 200px; }

.info {
  margin: auto 0; }
  .info__heading {
    width: 490px;
    font-weight: 600;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -2px;
    color: #fff;
    -webkit-animation: movetop 1.5s ease-out forwards;
            animation: movetop 1.5s ease-out forwards; }
  .info__text {
    font-family: "Open Sans", sans-serif;
    width: 460px;
    font-size: 18px;
    line-height: 150%;
    color: #fff;
    margin: 32px 0 56px;
    -webkit-animation: movebottom 1.5s ease-out forwards;
            animation: movebottom 1.5s ease-out forwards; }

@-webkit-keyframes movetop {
  from {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes movetop {
  from {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@-webkit-keyframes movebottom {
  from {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes movebottom {
  from {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

.gallery {
  position: relative;
  border-top-left-radius: 200px;
  background-image: url("../images/slider/slider-1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-left: 48px; }
  .gallery__img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%; }
  .gallery__arrow {
    width: 6px;
    height: 9px; }
  .gallery__button {
    cursor: pointer;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #fff;
    border: none;
    position: absolute; }
    .gallery__button:focus {
      outline: none;
      -webkit-box-shadow: 2px 2px 5px rgba(0, 136, 255, 0.4);
              box-shadow: 2px 2px 5px rgba(0, 136, 255, 0.4); }
    .gallery__button:active {
      outline: none;
      -webkit-box-shadow: 2px 2px 5px rgba(0, 136, 255, 0.4);
              box-shadow: 2px 2px 5px rgba(0, 136, 255, 0.4); }
    .gallery__button-left {
      bottom: 66px; }
    .gallery__button-right {
      bottom: 66px;
      left: 88px; }
  .gallery__name {
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    left: 144px;
    bottom: 96px; }
  .gallery__text {
    max-width: 264px;
    font-size: 14px;
    line-height: 140%;
    color: #fff;
    position: absolute;
    left: 144px;
    bottom: 48px; }

.button {
  width: 226px;
  height: 50px;
  background-color: #ff9c8e;
  border-radius: 64px;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #fff;
  border: none;
  cursor: pointer;
  -webkit-transition: border 0.2s, background-color 0.4s;
  transition: border 0.2s, background-color 0.4s; }
  .button:hover {
    background-color: #008aff;
    border: 2px solid #ff9c8e; }
  .button:focus {
    outline: none;
    border: 1px solid white; }

.welcome {
  width: 47%;
  max-width: 754px;
  margin: 0 auto; }
  .welcome__heading {
    margin-top: 148px;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    color: #253757; }
  .welcome__description {
    margin-bottom: 148px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%; }

.aboutus {
  background-color: #fff;
  padding: 128px 17% 148px; }
  .aboutus__heading {
    max-width: 562px;
    height: 78px;
    margin: 0 auto 64px;
    font-weight: 600;
    font-size: 52px;
    line-height: 150%;
    color: #253757;
    text-align: center; }
  .aboutus__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.card {
  width: 264px;
  text-align: center; }
  .card__img {
    width: 166px;
    height: 166px;
    border-radius: 24px; }
    .card__img:hover {
      -webkit-box-shadow: 4px 3px 13px #253757;
              box-shadow: 4px 3px 13px #253757; }
    .card__img:focus {
      outline: none;
      border: 1px solid #253757; }
  .card__caption {
    margin: 40px 0 16px;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #253757; }
  .card__text {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 150%; }

.services {
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 14%;
  margin-bottom: 188px; }
  .services__description {
    margin-top: 230px;
    width: 362px;
    margin-right: 16%; }
  .services__caption {
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #c0cdd7; }
  .services__heading {
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    color: #253757; }
  .services__text {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 150%; }
  .services__cards .box:first-child {
    margin-bottom: 30px; }
  .services__cards .box:nth-child(3) {
    margin-bottom: 30px; }
  .services__cards-left {
    -webkit-transform: translateY(280px);
            transform: translateY(280px);
    justify-self: right;
    margin-right: 30px; }
  .services__cards-right {
    -webkit-transform: translateY(148px);
            transform: translateY(148px);
    justify-self: right; }

.box {
  position: relative;
  width: 264px;
  height: 264px;
  background: #fff;
  -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
          box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
  border-radius: 24px; }
  .box__num {
    position: absolute;
    top: 32px;
    left: 32px;
    border-radius: 23px;
    background: rgba(86, 204, 242, 0.1);
    padding: 2px 12px;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    text-transform: uppercase;
    color: #56ccf2; }
  .box__text {
    position: absolute;
    width: 200px;
    top: 80px;
    left: 32px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    color: #6c788b; }
  .box__btn {
    cursor: pointer;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 32px;
    bottom: 32px;
    border-radius: 50%;
    border: none;
    background: #56ccf2;
    -webkit-transition: -webkit-transform 0.3s ease-in;
    transition: -webkit-transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in; }
    .box__btn:hover {
      -webkit-transform: scale(1.2);
              transform: scale(1.2); }
    .box__btn:focus {
      outline: none;
      -webkit-box-shadow: 2px 2px 5px rgba(0, 95, 179, 0.6);
              box-shadow: 2px 2px 5px rgba(0, 95, 179, 0.6); }
  .box__link {
    position: absolute;
    left: 88px;
    bottom: 41px;
    margin: 0;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #334563; }

.box-green .box__num {
  position: absolute;
  top: 32px;
  left: 32px;
  border-radius: 23px;
  background: rgba(21, 216, 80, 0.1);
  padding: 2px 12px;
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  text-transform: uppercase;
  color: #15D850; }

.box-green .box__btn {
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 32px;
  bottom: 32px;
  border-radius: 50%;
  border: none;
  background: #15D850; }

.box-yellow .box__num {
  position: absolute;
  top: 32px;
  left: 32px;
  border-radius: 23px;
  background: rgba(252, 201, 29, 0.1);
  padding: 2px 12px;
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  text-transform: uppercase;
  color: #fcc91d; }

.box-yellow .box__btn {
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 32px;
  bottom: 32px;
  border-radius: 50%;
  border: none;
  background: #fcc91d; }

.box-red .box__num {
  position: absolute;
  top: 32px;
  left: 32px;
  border-radius: 23px;
  background: rgba(243, 99, 99, 0.1);
  padding: 2px 12px;
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  text-transform: uppercase;
  color: #f36363; }

.box-red .box__btn {
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 32px;
  bottom: 32px;
  border-radius: 50%;
  border: none;
  background: #f36363; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth; }

ul,
h1 {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #6c788b;
  background-color: #f2f9ff; }

/*# sourceMappingURL=main.css.map */
