h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.header {
  height: 120px;
  background-color: #008aff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 14%;
  padding-right: 14%;
  margin: 0; }

.nav {
  width: 100%; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .nav__item {
    cursor: pointer;
    margin: 0 3%;
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
    color: #fff;
    text-decoration: none;
    letter-spacing: 3px;
    text-transform: uppercase;
    -webkit-transition: text-shadow 0.3s;
    transition: text-shadow 0.3s; }
    .nav__item:hover {
      text-shadow: 2px 2px #005fb3; }
    .nav__item-active {
      position: relative;
      -webkit-transition: width 2s;
      transition: width 2s; }
      .nav__item-active::after {
        position: absolute;
        content: "";
        bottom: -8px;
        left: 0;
        height: 2px;
        width: 100%;
        border-radius: 4px;
        background: #ff9c8e; }
    .nav__item:active {
      position: relative; }
      .nav__item:active::after {
        position: absolute;
        content: "";
        bottom: -8px;
        left: 0;
        height: 2px;
        width: 100%;
        border-radius: 4px;
        background: #ff9c8e; }
  .nav .nav__item:first-child {
    margin-left: 6%; }
  .nav .nav__item:last-child {
    margin-left: auto;
    margin-right: 0; }
  .nav__link {
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
    color: #fff;
    text-decoration: none;
    letter-spacing: 3px;
    text-transform: uppercase;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
    .nav__link:hover {
      color: #ff9c8e; }

.info-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #008aff;
  height: 680px;
  padding-left: 14%;
  border-bottom-left-radius: 200px; }

.info {
  margin: auto 0; }
  .info__heading {
    width: 490px;
    font-weight: 600;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -2px;
    color: #fff;
    -webkit-animation: movetop 1.5s ease-out forwards;
            animation: movetop 1.5s ease-out forwards; }
  .info__text {
    font-family: "Open Sans", sans-serif;
    width: 460px;
    font-size: 18px;
    line-height: 150%;
    color: #fff;
    margin: 32px 0 56px;
    -webkit-animation: movebottom 1.5s ease-out forwards;
            animation: movebottom 1.5s ease-out forwards; }

@-webkit-keyframes movetop {
  from {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes movetop {
  from {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@-webkit-keyframes movebottom {
  from {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes movebottom {
  from {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

.gallery {
  position: relative;
  border-top-left-radius: 200px;
  background-image: url("../images/slider/slider-1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-left: 48px; }
  .gallery__img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%; }
  .gallery__arrow {
    width: 6px;
    height: 9px; }
  .gallery__button {
    cursor: pointer;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #fff;
    border: none;
    position: absolute; }
    .gallery__button:focus {
      outline: none;
      border: 1px solid #008aff; }
    .gallery__button:active {
      outline: none;
      -webkit-box-shadow: 2px 2px 5px rgba(0, 136, 255, 0.4);
              box-shadow: 2px 2px 5px rgba(0, 136, 255, 0.4); }
    .gallery__button-left {
      bottom: 66px; }
    .gallery__button-right {
      bottom: 66px;
      left: 88px; }
  .gallery__name {
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    left: 144px;
    bottom: 96px; }
  .gallery__text {
    max-width: 264px;
    font-size: 14px;
    line-height: 140%;
    color: #fff;
    position: absolute;
    left: 144px;
    bottom: 48px; }

.button {
  width: 226px;
  height: 50px;
  background-color: #ff9c8e;
  border-radius: 64px;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #fff;
  border: none;
  cursor: pointer;
  -webkit-transition: border 0.8s, background-color 0.5s;
  transition: border 0.8s, background-color 0.5s; }
  .button:hover {
    background-color: #008aff;
    border: 2px solid #ff9c8e; }
  .button:focus {
    outline: none;
    border: 1px solid white; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

ul,
h1 {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #e5e5e5; }

/*# sourceMappingURL=main.css.map */
